
body {
    margin: 0;
    padding: 0;
    /*overflow: scroll;*/
    /*scroll-snap-type: y mandatory;*/
    /*overflow-x: hidden;*/
    /*scrollbar-width: thin;*/
    /*scrollbar-color: transparent transparent;*/
    box-sizing: border-box;
    background: #0c0c0c;
}

/*body::-webkit-scrollbar {*/
/*    width: 0.0rem;*/
/*}*/

::selection {
    background-color: lightseagreen;
    color: #0c0c0c;
}

h1, h3, h5, p {
    color: white;
    font-family: "Courier New", Courier, monospace;
}

h1 {
    text-decoration: lightseagreen underline;
}

header img {
    width: 60px;
    height: 60px;
    transition: 0.3s;
}

header img:is(:hover,:focus) {
    transform: scale(1.2);
}

.wrapper {
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    height: 100vh;
    /*height: 100%;*/
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}

.wrapper::-webkit-scrollbar {
    width: 0.0rem;
}

section {
    scroll-snap-align: start;
    animation: opacity;
    /*min-height: 100vh;*/
    height: 100%;
    width: 100%;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

header {
    position: fixed;
    display: flex;
    width: calc(100% - 40px);
    background-color: transparent;
    padding: 20px;
    top: 0;
    left: 0;
    z-index: 101;
    color: #fff;
    align-items: center;
    justify-content: space-between;
}

header nav a,
header nav a:target {
    font-size: 20px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s;
    margin-left: 35px;
}

header nav a:hover:not(:nth-child(7)) {
    color: lightseagreen;
}

nav a.active {
    color: lightseagreen;
}

nav .icon {
    display: none;
}

.container {
    opacity: 0;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
    padding: 0 10%;
    /*height: 100vh;*/
    height: 100%;
    /*transition: 2s;*/
}

.container.active {
    animation: containerOpacity 3s forwards;
}

@keyframes containerOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.home {
    display: grid;
    column-count: 1;
    grid-template-columns: 1fr;
}

.home h1 {
    font-size: 45px;
    overflow: hidden;
    position: relative;
    color: white;
    font-family: "Courier New", Courier, monospace;
}

.home h1 span {
    color: lightseagreen;
    font-weight: bold;
}

.home p {
    position: relative;
    font-size: 30px;
    color: white;
    font-weight: bold;
    font-family: "Courier New", Courier, monospace;
}

.home p::after {
    position: absolute;
    content: "|";
    right: 0;
    color: white;
    background-color: #0c0c0c;
    /*background-color: transparent;*/
    width: 100%;
    animation: typingProfession 10s infinite;
}

@keyframes typingProfession {
    0% {
        width: 100%;
    }
    50% {
        width: 0%;
    }
    60% {
        width: 0%;
    }
    70% {
        width: 0%;
    }
    80% {
        width: 0%;
    }
    90% {
        width: 0%;
    }
    100% {
        width: 100%;
        color: transparent;
    }
}

.home h1 {
    position: relative;
}

.home h1::after {
    position: absolute;
    content: "|";
    right: 0;
    color: white;
    background-color: #0c0c0c;
    width: 82%;
    animation: typingName 5s infinite;
}

@keyframes typingName {
    0% {
        width: 82%;
    }
    70% {
        width: 0%;
    }
    80% {
        width: 0%;
    }
    85% {
        width: 0%;

        color: transparent;
    }
    90% {
        width: 82%;

        color: transparent;
    }
    100% {
        width: 82%;

        color: transparent;
    }
}

.about {
    display: grid;
    column-count: 1;
    grid-template-columns: 1fr;
}

.about h1 {
    font-size: 30px;
}

.about p {
    padding: 50px;
    font-size: 20px;
    text-align: center;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;

    /*background: #515151;*/
    /*box-sizing: border-box;*/
    /*border: 2px solid lightseagreen;*/
    /*border-radius: 15px;*/

    color: white;
}

.about .Buttons {
    display: flex;
}

.about .Buttons a {
    text-decoration: none;
    display: flex;
    /*background: #2C3E50;*/
    justify-content: center;
    align-items: center;
    color: white;
    width: 150px;
    text-align: center;
    box-sizing: border-box;
    margin-top: 50px;
    margin-left: 25px;
    padding: 8px;
    transition: 0.5s ease-in-out;
    /*outline: 1px solid #fff;*/

    box-shadow: 0 0 2px lightseagreen,
                0 0 5px lightseagreen;

    border: 2px solid white;
    border-radius: 5px;
}

.about .Buttons a:is(:hover, :focus) {
    outline-offset: 3px;

    box-shadow: 0 0 2px lightseagreen,
    0 0 10px lightseagreen, 0 0 20px lightseagreen,
    0 0 60px lightseagreen, 0 0 120px lightseagreen;

    transform: scale(1.2);

    margin-left: 40px;
    margin-right: 40px;
}

.skills {
    display: grid;
    column-count: 1;
    grid-template-columns: 1fr;
}

.skillsWrapper {
    display: grid;
    column-count: 3;
    align-items: flex-start;
    grid-template-columns: 1fr 1fr 1fr;
}

.skillsWrapper div {
    display: grid;
    column-count: 1;
    grid-template-columns: 1fr;
    width: 300px;
    margin-right: 20px;
}

.skillsWrapper div .skillText {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skillsWrapper div .outerSpan {
    position: relative;
    width: 300px;
    height: 15px;
    border-radius: 4px;
    background-color: grey;
}

.skillsWrapper div .outerSpan .innerSpan {
    display: none;
    /*position: absolute;*/
    /*width: 0px;*/
    /*height: 15px;*/
    /*border-radius: 4px;*/
    /*background-color: lightseagreen;*/
    /*transition: 1s;*/
    /*box-shadow: 0 0 0 0.5px black;*/
}

section.active .skillsWrapper div .outerSpan .innerSpan {
    display: block;
    position: absolute;
    width: 0px;
    height: 15px;
    border-radius: 4px;
    background-color: lightseagreen;
    animation: fillingAnim 7s infinite;
    transition: 1s;
    box-shadow: 0 0 0 0.5px black;
}

section .active .skillsWrapper div .outerSpan .innerSpan:hover {
    box-shadow: 0 0 2px lightseagreen,
    0 0 10px lightseagreen, 0 0 20px lightseagreen,
    0 0 60px lightseagreen, 0 0 120px lightseagreen;
}

@keyframes fillingAnim {
    100% {
        width: 200px;
    }
}

.projects {
    display: grid;
    column-count: 1;
    grid-template-columns: 1fr;
    place-items: center;
}

.projectsWrapper {
    display: flex;
    place-items: center;
}

.project {
    display: flex;
    position: relative;
    flex-direction: column;
    box-sizing: border-box;
    border: 2px solid #ffffff;
    border-radius: 10px;
    margin: 10px;
    width: 130px;
    transition: 1s;
    height: 300px;
    justify-content: center;
    align-items: center;
}

.project.expand {
    width: 400px;
    height: 450px;
    margin: 30px;

    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border: 2px solid #ffffff;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

.project .projectDescription h1 {
    display: none;
}

.project.expand .projectDescription h1 {
    display: block;
    height: 40%;
    /*visibility: hidden;*/
    margin: 20px;
    text-align: justify;
    text-justify: inter-word;
    /*font-size: 15px;*/
    transition: font-size 1s linear;
    animation: showText 2s forwards;
}

@keyframes showText {
    0% {
        height: 40%;
        opacity: 0;
        width: 400px;
        font-size: 2px;

    }
    30% {
        opacity: 0;
    }
    100% {
        height: 40%;
        opacity: 1;
        /*visibility: visible;*/
        font-size: 15px;
    }
}

.project .seeMore {
    padding: 10px;

    background-color: transparent;

    box-shadow: 0 0 2px lightseagreen,
    0 0 5px lightseagreen;

    border: 2px solid white;
    border-radius: 5px;

    transition: 0.3s;
}

.project .seeMore:hover {
    box-shadow: 0 0 2px lightseagreen,
    0 0 10px lightseagreen, 0 0 20px lightseagreen,
    0 0 60px lightseagreen, 0 0 120px lightseagreen;

    transform: scale(1.2);

    margin-outside: 40px;
}

.project .seeMore::before {
    content: "See More";
    color: white;
}

.project.expand .seeMore::before {
    content: "";
}

.project.expand .seeMore::after {
    content: "See Less";
    color: white;
}

.project img {
    width: 50px;
    height: 50px;
}

.project .projectButton {
    position: absolute;
    bottom: 0;
    margin-bottom: 15px;
}

.message {
    display: grid;
}

.message h1 {
    text-decoration: underline;
    text-decoration-color: lightseagreen;
    margin-bottom: 80px;
    font-size: 40px;
    color: white;
}

.message form {
    width: 90%;
    min-width: 600px;
}

.message form * {
    border-radius: 5px;
}

.message .input-group {
    position: relative;
    margin-bottom: 10px;
}

.message input, textarea {
    width: 100%;
    padding: 10px;
    outline: 0;
    border: 1px solid #fff;
    color: #fff;
    transition: 0.4s;
    background: transparent;
    font-size: 15px;
}

.message label {
    height: 100px;
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
    color: #fff;
    cursor: text;
}

.message button {
    padding: 10px 0;
    color: #fff;
    outline: 1px solid #fff;
    background: transparent;
    border: 1px solid #fff;
    width: 103.67%;
    transition: all 0.3s ease;
    cursor: pointer;
}

.message button:is(:hover, :focus) {
    outline-offset: 5px;
}

.message input:focus,
.message textarea:focus {
    margin-bottom: 15px;
    margin-top: 20px;
}

.message input:focus ~ label,
.message input:valid ~ label,
.message textarea:focus ~ label,
.message textarea:valid ~ label {
    top: -10px;
    font-size: 14px;
}

@keyframes opacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.contact {
    display: grid;
    height: 100vh;
}

.contact h1 {
    margin-bottom: 50px;
}

.contact .infoBox {
    display: grid;
    flex-direction: column;
    width: 400px;
    height: 400px;
    position: relative;
    border-radius: 30px;
    box-shadow: 0 0 2px lightseagreen,
    0 0 5px lightseagreen;
    background: rgba(0, 255, 241, 0.05);
    justify-content: center;
    align-items: center;
}

.contact .infoBox .infoWrapper {
    margin-bottom: 30px;
}

.contact .infoBox .infoWrapper div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.contact .infoBox div span {
    min-width: 40px;
    height: 40px;
    color: white;
    background: lightseagreen;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    border-radius: 50%;
    margin-right: 10px;
}

.contact .infoBox div a {
    color: white;
    text-decoration: none;
    font-size: 15px;
}

.contact .infoBox .socialMedia {
    margin-right: 40px;
    display: flex;
    position: absolute;
    bottom: 0;
}

.contact .infoBox .socialMedia li {
    list-style: none;
    margin-right: 15px;
}

.contact .infoBox .socialMedia li span{
    border: 0 transparent;
    transition: 0.3s;
    box-sizing: border-box;
}

.contact .infoBox .socialMedia li:nth-child(1) a:hover {
    color: #3b5998;
}

.contact .infoBox .socialMedia li:nth-child(2) a:hover {
    color: #bc1888;
}

.contact .infoBox .socialMedia li:nth-child(3) a:hover {
    color: #0e76a8 ;
}

.contact .infoBox .socialMedia li:nth-child(4) a:hover {
    color: #171515;
}

.contact .infoBox .socialMedia li a {
    color: #ccc;
    font-size: 2em;
}

.contact .infoBox .socialMedia li a:hover {
    color: white;
}

@media only screen and (max-width: 1000px) {
    .home h1 {
        font-size: 35px;
        overflow: hidden;
        position: relative;
        color: white;
        font-family: "Courier New", Courier, monospace;
    }

    .home p {
        position: relative;
        font-size: 25px;
        color: white;
        font-weight: bold;
        font-family: "Courier New", Courier, monospace;
    }

    .about h1 {
        font-size: 25px;
        text-decoration: underline;
        color: white;
    }

    .about p {
        padding: 30px;
        font-size: 15px;
        text-align: justify;
        text-justify: inter-word;
        font-family: "Courier New", Courier, monospace;
        font-weight: bold;
        color: white;
    }

    .skillsWrapper div {
        display: grid;
        column-count: 1;
        grid-template-columns: 1fr;
        width: 250px;
        margin-right: 20px;
    }

    .skillsWrapper div .outerSpan {
        position: relative;
        width: 250px;
        height: 15px;
        border-radius: 4px;
        background-color: grey;
    }

    .message h1 {
        text-decoration: underline;
        text-decoration-color: lightseagreen;
        margin-bottom: 50px;
        font-size: 25px;
        color: white;
    }
}

@media only screen and (max-width: 700px) {

    header img {
        display: none;
    }

    nav a:nth-child(7) {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    nav a:not(:nth-child(7)) {
        box-sizing: border-box;
        border: 1px solid;
        border-radius: 5px;
        padding: 5px
    }
    
    nav a.active {
        margin: 10px;
    }

    nav a:not(:nth-child(7), .active) {display: none}
    nav .icon {
        display: block;
        color: white;
    }

    nav {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    nav.responsive {
        display: block;
        /*height: 50%;*/
        height: 100vh;
        transition: 0.5s;
        background: #0c0c0c;
    }

    header.responsive {
        background: #0c0c0c;
    }

    nav.responsive a:nth-child(1){
        margin-top: 50px;
    }

    nav.responsive a:not(:nth-child(7), :nth-child(1)) {
        margin-top: 20px;
    }

    nav.responsive a:not(:nth-child(6)) {
        margin-bottom: 10px;
    }

    nav a.active {
        display: flex;
    }

    nav.responsive {position: relative;}
    nav.responsive a.icon {
        position: absolute;
        right: 0;
        color: lightseagreen;
        top: 0;
    }
    nav.responsive a:not(:nth-child(7)){
        float: none;
        display: block;
        transition: 2s;
        text-align: right;
    }

    nav.responsive header img {
        display: none;
    }

    .wrapper {
        overflow-y: scroll;
        overflow-x: hidden;
        scroll-snap-type: y mandatory;
        height: 100vh;
        width: 100%;
        scrollbar-width: thin;
        scrollbar-color: transparent transparent;
    }

    section .heading {
        text-decoration: lightseagreen underline;
    }

    .container {
        padding: 0;
    }

    .home h1 {
        font-size: 25px;
    }

    .home p {
        font-size: 20px;
    }

    .about h1 {
        font-size: 25px;
    }

    .about p {
        width: 80%;
        text-align: justify;
        text-justify: inter-word;
        font-size: 13px;
    }

    .about .Buttons {
        display: grid;
        column-count: 1;
    }

    .about .Buttons a {
        margin-top: 15px;
        margin-left: 10px;
        font-size: 10px;
        padding: 5px;
    }

    .skillsWrapper {
        display: grid;
        column-count: 1;
        width: 80%;
        left: 10%;
        right: 10%;
        align-items: flex-start;
        grid-template-columns: 1fr;
    }

    .skillsWrapper div .skillText {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 15px;
        margin: 3px;
    }

    .skillsWrapper div {
        display: grid;
        column-count: 1;
        grid-template-columns: 1fr;
        width: 100%;
        /*margin-right: 20px;*/
    }

    .skillsWrapper div .outerSpan {
        position: relative;
        width: 100%;
        height: 7px;
        border-radius: 4px;
        background-color: grey;
    }

    section.active .skillsWrapper div .outerSpan .innerSpan {
        height: 7px;
    }

    .skills div h3 {
        margin-bottom: 5px;
    }

    .skills h1 {
        margin-bottom: 5px;
    }

    .projects {
        display: flex;
        flex-direction: column;
    }

    .projects h1 {
        margin-bottom: 30px;
        font-size: 20px;
    }

    .projectTitle h1 {
        margin: 20px ;
    }

    .projectsWrapper {
        display: grid;
        overflow-y: auto;
        height: 60%;
        width: 70%;
    }

    .projectsWrapper .project {
        height: 350px;
        width: 80%;
    }

    .project .seeMore {
        display: none;
    }

    .project .projectDescription h1 {
        display: block;
        font-size: 12px;
        margin: 10px;
        bottom: 0;
        text-align: justify;
        text-justify: inter-word;
    }

    .message form {
        width: 100%;
        margin: 0;
        padding: 0;
        min-width: 300px;
    }

    .message h1 {
        margin-bottom: 50px;
        font-size: 22px;
    }

    .message input, textarea {
        font-size: 10px;
    }

    .contact .infoBox {
        display: flex;
        width: 300px;
        height: 300px;
    }

    .contact .infoBox .infoWrapper {
        height: 60%;
        width: 80%;
    }
}

@media only screen and (max-width: 375px) {

    .navbar.responsive header {
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
    }

    .home h1 {
        font-size: 20px;
    }

    .home p {
        font-size: 15px;
    }

    .about h1 {
        font-size: 25px;
    }

    .about p {
        width: 80%;
        font-size: 10px;
    }

    .about h1 {
        font-size: 20px;
    }

    .about .Buttons a {
        margin-top: 10px;
    }

    .skills div h3 {
        margin-bottom: 5px;
    }

    .skills h1 {
        margin-bottom: 5px;
    }

    .skillsWrapper {
        width: 70%;
    }

    .skillsWrapper div .skillText {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 15px;
        margin: 3px;
    }

    .skillsWrapper div .outerSpan {
        position: relative;
        width: 100%;
        height: 5px;
        border-radius: 4px;
        background-color: grey;
    }

    section.active .skillsWrapper div .outerSpan .innerSpan {
        height: 5px;
    }

    .projects h1 {
        margin-bottom: 50px;
        font-size: 20px;
    }

    .projectTitle h1 {
        margin-bottom: 15px;
    }

    .projectsWrapper .project {
        height: 420px;
    }

    .project .projectDescription h1 {
        font-size: 13px;
    }

    .message form {
        min-width: 270px;
    }

    .message h1 {
        font-size: 20px;
    }

    .contact .infoBox {
        width: 270px;
        height: 270px;
    }

    .contact .infoBox .infoWrapper {
        height: 60%;
        width: 80%;
    }

    .contact .infoBox div span {
        min-width: 30px;
        height: 30px;
        font-size: 1em;
    }

    .contact .infoBox div a {
        font-size: 13px;
    }

    .contact .infoBox .socialMedia {
        display: flex;
        margin-top: 50px;
        position: unset;
        padding-inline-start: 20px;
    }

}

@media only screen and (max-width: 320px) {

    .projects h1 {
        margin-bottom: 50px;
        font-size: 18px;
    }

    .projectTitle h1 {
        margin-bottom: 13px;
    }

    .projectsWrapper .project {
        height: 350px;
    }

    .project .projectDescription h1 {
        font-size: 10px;
    }

    .message form {
        display: flex;
        flex-direction: column;
        min-width: 230px;
        margin: 0;
    }

    .message label {
        font-size: 15px;
    }
}
